/* General */

html {
    font-size: 16px;
    margin:0;
    font-family: 'Oxygen', sans-serif;
  }
  
  body {
    margin:0;
  }
  
  h1 {
    font-size: 2.3rem;
    line-height: 1.5;
    text-transform: lowercase;
  }
  
  h2 {
    text-transform: lowercase;
    font-size: 2.5rem;
    line-height: 1.5;
    font-family: 'Oxygen', sans-serif;
  }
  
  h3 {
    text-transform: lowercase;
  }
  
  p {
    font-size: 1rem;
    line-height: 2rem;
  }
  
  /* Header */

  
  
  .jumbotron {
      color: white !important;
      background:none !important;
      position: relative !important;
      justify-content: center !important;
  
  }
  

  
  #background {
      color: white !important;
      background: #5a76a6 !important;
      font-size: 2rem !important;
      padding: 50px !important;
      height: 820px;
      align-content: center !important;
      text-align: center !important;
      background-size: contain !important;
    
  }
  
  
  

  
  .divider {
    margin: 5rem 0;
  }
  
  
  .section-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  .title-aboutme {
    padding-top: 80px;
    padding-bottom: 0;
    text-align: center;
  }
  
  .title-projects {
    text-align: center;
    padding-bottom: 80px;
  }
  
  .title-contact {
    text-align: center;
  }
  
 
  
  
  /*footer*/
  footer {
    padding: 2.5rem 0;
    color: #999;
    text-align: center;
    border-top: .05rem solid #e5e5e5;
  }
  
  